*{
    margin: 0;
    padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.head{
    padding-left: 3.5%;
}
.header{
    /* padding-top: 2%;
    padding-left: 3%;*/
    display: flex;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
width: 75%;
padding: 35px 5px;
font-family: Arial, Helvetica, sans-serif;

}
.imgg{
    width: 10%;
    padding: 15px 15px;
}
.imgg img{
    width: 70%;
    max-height: 90%;
}

.content h1{
    color:rgb(16, 66, 141) ;
}
.header1{
    width: 100%;
    height:50px;
    align-items: center;
    display: flex;
    background-color: rgb(16, 66, 141);
    padding-bottom: 10px;
    
}
 .logo{ 
  width: 98px;
 cursor: pointer;
 }
 nav{
  flex: 1;
  text-align: center;  
}
nav ul li{
  list-style: none ;
  display: inline-block;
  margin-right: 1vw;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
  font-weight: 700;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
nav ul li a:hover{
    background-color: #00008B;
    color: white;
    border-radius: 5px;
    font-style: normal;
    font-size: 1.4vw;
}

.div1{
    width: 100%;
    height: auto;
    
}
.div1 h1{
    text-align: left;
    padding-left: 4vw;
    background-image: linear-gradient(to left,blue,red);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    font-size: 2.5vw;
    padding-bottom: 5vw;
}
.table1{
    background-color: whitesmoke;
    width: 55vmax;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-bottom: 3vw;
}
.table1 ,.table1 tr,.table1 td,.table1 th{
    border:2px solid rgb(144, 134, 134);
    border-collapse:collapse;
  padding:1vw 0.7vw;
  font-family: Helvetica;
  font-size: 1.2vw;
  }
  .table1 th{
    background-color: rgb(16, 66, 141);
    font-size: 1.7vw;
    color: white;
    margin-top: 8vw;
 }

 #ss{
    text-align: center;
}
.footer{
    width: auto;
    height: auto;
    
    background-color: rgb(23, 21, 21);
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    margin-top: 2vw;
}
.footer1,.footer2{
    padding-left: 3%;
    padding-right: 3%;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    word-spacing: 5px;
    font-size: 1.2vw;

}
.footer1 h1{
    text-align: center;
    color: white; 
    text-decoration: underline;
    text-decoration-color: red;
    font-size: 3vw;
}
.footer1 p, .footer2 p{
    text-align: left;
    line-height: 150%;
    padding-left: 27%;
    padding-top: 7%;
    color: white;
    padding-bottom: 3vw;
    font-size: 1.3vw;
    
}
.footer2{
    text-align: center;
    color: white;
}
.footer2 h1{
    text-decoration: underline;
    text-decoration-color: red;
    font-size: 3vw;
}