*{
    margin: 0;
    padding: 0;
}
.head{
    padding-left: 3.5%;
}
.header{
    /* padding-top: 2%;
    padding-left: 3%;*/
    display: flex;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
width: 75%;
padding: 35px 5px;
font-family: Arial, Helvetica, sans-serif;

}
.img1{
    width: 10%;
    padding: 15px 15px;
}
.img1 img{
    width: 70%;
    max-height: 90%;
}

.content h1{
    color:rgb(16, 66, 141) ;
}
.header1{
    width: 100%;
    height:50px;
    align-items: center;
    display: flex;
    background-color: rgb(16, 66, 141);
    padding-bottom: 10px;
    
}
 .logo{ 
  width: 98px;
 cursor: pointer;
 }
 nav{
  flex: 1;
  text-align: center;  
}
nav ul li{
  list-style: none ;
  display: inline-block;
  margin-right: 1vw;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
  font-weight: 700;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
nav ul li a:hover{
    background-color: #00008B;
    color: white;
    border-radius: 5px;
    font-style: normal;
    font-size: 1.4vw;
}
.contactt {
    width: 100%;
    height: auto;
    margin-top: 4vw;

}
.contactt h1{
    text-align: center;
    color: red;
    font-size: 3vw;
}
.contactt1{
    width: 50%;
    height: auto;
    font-family: helvetica;
    margin-left: 5vw;
    margin-top: 3vw;
}
.contactt1 h2{
    background-color: blueviolet;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 40%;
    padding-left: 3vw;
    margin-bottom: 4vw;
    color: white;
    font-size: 1.6vw;
}
.contactt1 p{
    font-size: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.5vw;
    padding-left: 2vw;
    padding-bottom: 3vw;
}

.footer{
    width: auto;
    height: auto;
    
    background-color: rgb(23, 21, 21);
    display: flex;
    flex-direction: row;
    padding-top: 3%;
}
.footer1,.footer2{
    padding-left: 3%;
    padding-right: 3%;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    word-spacing: 5px;
    font-size: 1.2vw;

}
.footer1 h1{
    text-align: center;
    color: white; 
    text-decoration: underline;
    text-decoration-color: red;
    font-size: 3vw;
}
.footer1 p, .footer2 p{
    text-align: left;
    line-height: 150%;
    padding-left: 27%;
    padding-top: 7%;
    color: white;
    padding-bottom: 3vw;
    font-size: 1.3vw;
    
}
.footer2{
    text-align: center;
    color: white;
}
.footer2 h1{
    text-decoration: underline;
    text-decoration-color: red;
    font-size: 3vw;
}