
*{
    margin: 0;
    padding: 0;
}
.head{
    padding-left: 3.5%;
}
.header{
    display: flex;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
width: 75%;
padding: 35px 5px;
font-family: Arial, Helvetica, sans-serif;

}
.img1{
    width: 10%;
    padding: 15px 15px;
}
.img1 img{
    width: 70%;
    max-height: 90%;
}

.content h1{
    color:rgb(16, 66, 141) ;
}
.header1{
    width: 100%;
    height:50px;
    align-items: center;
    display: flex;
    background-color: rgb(16, 66, 141);
    padding-bottom: 10px;
    
}
 .logo{ 
  width: 98px;
 cursor: pointer;
 }
 nav{
  flex: 1;
  text-align: center;  
}
nav ul li{
  list-style: none ;
  display: inline-block;
  margin-right: 1vw;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
  font-weight: 700;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
nav ul li a:hover{
    background-color: #00008B;
    color: white;
    border-radius: 5px;
    font-style: normal;
    font-size: 1.4vw;
}
      
      /* Slideshow container */
      .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
      }
      
      /* Caption text */
      .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 0;
        position: absolute;
        bottom: 0px;
        width: 100%;
        text-align: center;
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      .fade img{
          height: 90vh;
          width: 100%;
          padding-bottom: 0%;
      }
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .text {font-size: 11px}
      }
.date{
    display: flex;
    background-color: rgb(16, 66, 141);
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 12px;
    margin-top: 0%;

    
}
.new1, .new {
    margin-left: 3vw;
    margin-top: 11px;
    max-width: 180px;
    padding-left: 1vw;
    padding-right: 1vw;
    max-height: 80px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    list-style: none;
    
}
.new{
    margin-left: 60vw;

}
li{
    
    padding-top: 10px;
    
}
#demo, #demo1, #demo2, #demo3{
    font-size: 2.5vw;
    font-weight: 500;
}
.aboutconf{

    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 3%;
}
.aboutconf h1{
    text-align: center;
    color: red;
    padding-top: 2%;
    padding-bottom: 4%;
    font-size: 3vw;
}
.aboutconf p{
    padding-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    line-height: 1.6;
    word-spacing: 5px;
    /*font-style: Helvetica; font-family: 'Times New Roman', Times, serif;*/
}
.session{
    width: 100%;
    height: auto;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    line-height: 1.6;
    word-spacing: 5px;
    border-bottom: 2%;
    display: flex;
    
}
#ss{
    color: red;
    font-size: 3vw;
    text-align: center;
}
.sub1 ul, .sub3 ul, .sub4, .sub2 ul{
    list-style-type: disc;
}
.sub1, .sub2, .sub3, .sub4{
    text-align: left;
    padding-top: 3%;
    width: 25%;
    padding-bottom: 3%;
   
}
.sub1 h2, .sub2 h2, .sub3 h2 , .sub4 h2{
    padding-bottom: 2%;
    color: rgb(16, 66, 141);
    text-align: center;
}
.sub1 li, .sub2 li, .sub3 li , .sub4 li{
    margin-left: 6%;
}

.key_dates{
    background-image: url(images/computer.jpeg);
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
}
.key_dates h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    padding-top: 2%;
    left: 30%;
    color: white;
    position: absolute;
    
}
.key1, .key2, .key3 {
    width: 33.3%;
    padding-left: 5vw ;
}

.key1 img, .key2 img, .key3 img{
    width: 20vmax;
    height: 10vmax;
    border-radius: 10px;
    margin-top: 13vw;
    
}

.key1 p, .key2 p, .key3 p{
    padding-top: 1vw;
	padding-left:4%;
    font-size: 1.6vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#three{
    padding-left: 2vw;
}
.footer{
    width: auto;
    height: auto;
    
    background-color: rgb(23, 21, 21);
    display: flex;
    flex-direction: row;
    padding-top: 3%;
}
.footer1,.footer2{
    padding-left: 3%;
    padding-right: 3%;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    word-spacing: 5px;
    font-size: 1.2vw;

}
.footer1 h1{
    text-align: center;
    color: white; 
    text-decoration: underline;
    text-decoration-color: red;
    font-size: 3vw;
}
.footer1 p, .footer2 p{
    text-align: left;
    line-height: 150%;
    padding-left: 27%;
    padding-top: 7%;
    color: white;
    padding-bottom: 3vw;
    font-size: 1.3vw;
    
}
.footer2{
    text-align: center;
    color: white;
}
.footer2 h1{
    text-decoration: underline;
    text-decoration-color: red;
    font-size: 3vw;
}